.app__about{
    flex: 1;
    width: 100%;
    flex-direction: column;
    box-sizing: border-box;
    margin-top: 1rem;
}

.app__profiles{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    // margin-top: 2rem;
    
}

.app__profile-item{
    width: 250px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin: 1rem;
    border-radius: 15px;
    box-shadow: 2px 2px 10px 2px rgba(0, 0, 0, 0.067);
    padding: 1rem;
    
    
    @media screen and (max-width: 780px){
        width: 300px;  

        @media screen and (max-width: 450px){
            width: 230px;
        }
    }

    img{
        width: 100%;
        height: 170px;
        border-radius: 15px;
        object-fit: cover;
    }

    h2{
        text-align: justify;
    }


}